/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Note that default partition layout, provided by board DTS, is not
 * altered here as external_partition used by the disk is defined
 * over QSPI device and does not collide with any other partition
 * definition.
 */

 &spi1 {
    status = "okay";
    cs-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>; /* Replace with your chip select pin */

    sdcard: sdhc@0 {
        compatible = "zephyr,mmc-spi-slot";
        reg = <0>;
        label = "SD";
        spi-max-frequency = <24000000>; /* 24 MHz */
        status = "okay";
    };
};

&i2c0 {
    mysensor: mysensor@4a{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x4a >;
    };
};


// / {
// 	msc_disk0 {
// 		status = "okay";
// 		compatible = "zephyr,flash-disk";
// 		partition = <&external_partition>;
// 		disk-name = "SD";
// 		/* cache-size == page erase size */
// 		cache-size = <4096>;
// 	};
// };