&i2c0 {
    clock-frequency = <100000>;  /* Set the I2C clock frequency to 400 kHz */
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    
    mlx_90393: mlx_90393@18 {
        compatible = "i2c-device";
        status = "okay";
        reg = <0x18>;
        label = "MLX90393-SLQ-ABA-011-RE";
    };
};

&clock {
    status = "okay";
};
